.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 17;
    color: black;
}

body
{
    background-size: cover;
}

.name
{
    background-color: red;
    border-radius: 200px;
    width: 100px;
    height: 50px;
    font-size: 17px;
    color: white;
    font-weight: 50;
}

div
{
    margin-top: 20px;
    margin-bottom: 70px;
}